<nav style="background-color: darkcyan;">
            <div class="nav justify-content-between p-2">
               <h2 class='pt-3 pl-3' style='color: white; font-size: 20px;'>All Available Properties</h2>
            </div>
        
</nav>
  <div class='pt-3 pl-3'> 
   <%= form_for @property do |f| %>
     <%= f.select :filter, ['Highest Rating', 'Lowest Rating', 'Cheapest', 'Most Expensive'], {:prompt => 'Pick a filter option'}, {:class => "border border-pink text-pink"} %>
     <%= f.submit 'Submit', :class => "text-decoration-none btn btn-outline-dark ml-2 p-1"  %>
   <% end %>

   <div class='pt-3'>
   
   <% @properties.each do |property| %>
    
    <div class="card .h-100 mb-4" style="width: 18rem; background-color: lightseagreen;">
     <p><%= image_tag  property.image_url,  height: '200', width: '200', :class => "card-img-top" %></p>
     <div class="card-body">
     <p class="card-title font-weight-bold"><%= property.address%>- £<%=property.price%>pcm</p>
     <p class="card-text">Rating: <%= property.average_rating %>/5</p>
     <p><%= link_to "Click here for more info", property_path(property), :class => "back" %></p>
     
     </div>
     </div>
   <% end %>



   <% if @tenant %>
   <p><%= link_to '<<', tenant_path(@tenant), :class => "back" %></p>
   <% end %>
   <% if @landlord %>
   <p><%= link_to '<<', landlord_path(@landlord), :class => "back"%></p>
   <% end %>
 
   </div>
   </div>

   
  

