<nav style="background-color: darkcyan;">
            <ul class="nav justify-content-end p-2">
              <li class='pt-3' style='color: white; font-size: 20px; margin-right: 750px;'><h2><%= @property.address %></h2></li>
              <li class='nav-link'><%= link_to "Edit Property", edit_landlord_property_path(@landlord, @property), class: 'nav-link' %></li>
              <li class='nav-link'><%= link_to "Delete Property", landlord_property_path(@landlord, @property), method: :delete, class: 'nav-link' %></li>
            </ul>
        
</nav>
<div class='pl-3'>
<p><%= image_tag  @property.image_url,  maxHeight: '80%%', maxWidth: '80%', :class => 'mt-3'  %></p>
<p><b>Price:</b> £<%= @property.price %>pcm</p>
<p><b>Description:</b> <%= @property.description %></p>
<% if @property.tenant %>
   <p><b>Current Tenant:</b> <%= @property.tenant.user.name %> - Contact info: <%= @property.tenant.user.email %></p>
<% end %>
<% if !@property.previous_tenants.empty? %>
   <p><b>Previous Tenants:</b></p>
   <ul>
     <% @property.previous_tenants.each do |tenant| %>
      <li><%= tenant.user.name %> - Contact info: <%= tenant.user.email %></li>
  <% end %>
   </ul>
<% end %>
<% if !@reviews.empty? %>
  <p><b>Reviews:</b></p>
  <ol>
    <% @reviews.each do |review| %>
      <li><ul>
            <li>Rating: <%= review.rating %></li>
            <li>Title: <%= review.title %></li>
            <li>Content: <%= review.content %></li>
            <li>Reviewed by: <%= review.tenant.user.name %></li>
      </li></ul><br>
    <% end %>
  </ol>
<% end %>

<p><%= link_to '<<', landlord_properties_show_path(@landlord), :class => 'back' %></p>

</div>