<h1> <%= @property.address %> </h1>
<p><%= image_tag  @property.image_url,  maxHeight: '50%', maxWidth: '50%' %></p>
<p>Price:<%= @property.price %></p>
<p>Description:<%= @property.description %></p>
<% if @property.tenant %>
   <p>Current Tenant: <%= @property.tenant.user.name %></p>
<% end %>
<p><%= link_to "Edit Property", edit_landlord_property_path(@landlord, @property) %></p>
<p><%= link_to "Delete Property", landlord_property_path(@landlord, @property), method: :delete %></p>
<p><%= link_to 'Back', :back %></p>