<h1> <%= @property.address %> </h1>
<p><%= image_tag  @property.image_url,  maxHeight: '50%', maxWidth: '50%' %></p>
<p>Price:<%= @property.price %><p>
<p>Description:<%= @property.description %><p>
<p>If interested, please contact <%= @property.landlord.user.name %> at <%= @property.landlord.user.email %>!</a></p>
