<nav style="background-color: darkcyan;">
            <ul class="nav p-3">
              <li class='pt-3' style='color: white; font-size: 20px; '><h2><%= @property.address %></h2></li>
            </ul>
        
</nav>
<div class='pl-3 pt-3'>
<p><%= image_tag  @property.image_url,  maxHeight: '80%', maxWidth: '80%' %></p>
<p><b>Price:</b> £<%= @property.price %>pcm<p>
<p><b>Description:</b> <%= @property.description %><p>
<p>If interested, please contact <b><%= @property.landlord.user.name %> at <%= @property.landlord.user.email %>!</b></p>

<% if !@reviews.empty? %>
  <p><b>Reviews:</b></p>
  <ol>
    <% @reviews.each do |review| %>
      <li><ul>
            <li>Stars: <%= review.rating %>/5</li>
            <li>Title: <%= review.title %></li>
            <li>Content: <%= review.content %></li>
            <li>Reviewed by: <%= review.tenant.user.name %></li>
      </li></ul><br>
    <% end %>
  </ol>
<% end %>
<p><%= link_to '<<', properties_path, :class => 'back' %></p>
</div>