<nav style="background-color: darkcyan;">
          <ul class="nav justify-content-end p-2">
               <% if !@review %>
                <li class='nav-link'><%= link_to "Leave a Review", new_tenant_property_review_path(@tenant, @property), class: 'nav-link' %></li>
                </ul>
              <% else %>
              
                <li class='nav-link'><%= link_to "Edit Review", edit_tenant_property_review_path(@tenant, @property, @review), class: 'nav-link' %></li>
                <li class='nav-link'><%= link_to "Delete Review", tenant_property_review_path(@tenant, @property, @review), method: :delete, class: 'nav-link' %></li>
                </ul>
              <% end %>
           
        
</nav>

<div class='pl-3 mt-n5'>
<h2><%= @property.address %></h2>
<div class='pt-3'>
<p><%= image_tag  @property.image_url,  maxHeight: '50%', maxWidth: '50%' %></p>
<p><b>Price:</b> £<%= @property.price %>pcm<p>
<p><b>Description:</b> <%= @property.description %><p>

<% if @reviews %>
   <p><b>Reviews:</b></p>
  <ol>
    <% @reviews.each do |review| %>
      <li><ul>
            <li>Stars: <%= review.rating %>/5</li>
            <li>Title: <%= review.title %></li>
            <li>Content: <%= review.content %></li>
            <li>Reviewed by: <%= review.tenant.user.name %></li>
      </li></ul><br>
    <% end %>
  </ol>
<% end %>

<p><%= link_to "<<", tenant_path(@tenant), :class => 'back' %></p>
</div>
</div>